<table class="producttable">
  <thead>
    <tr>
      <th>Artikelnummer</th>
      <th>Productnaam</th>
      <th>Voorraad</th>
      <th>Minimale voorraad</th>
      <th>Bezettings graad</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
    <tr data-productid="<%= product.idProduct -%>">
      <td><%= product.Artikelnummer -%></td>
      <td><%= product.Productnaam -%></td>
      <% if (product.Voorraad < product.MinVoorraad) { %>
        <td class="teweinig"><%= product.Voorraad -%> <i data-feather="alert-triangle"></i></td>
      <% } else { %>
        <td><%= product.Voorraad -%></td>
      <% } %>
      <td><%= product.MinVoorraad -%></td>
      <td><%= product.BezettingsGraad -%>%</td>
    </tr>
    <% }); %>
  </tbody>
</table>