<%- include('partials/head.ejs') -%>

<div class="loginwrapper">
  <ul>
    <% medewerkers.forEach(medewerker => { %>
    <li class="medewerkerlogin" data-medewerkerid="<%- medewerker.idWerknemer -%>"><i
        data-feather="user"></i><%= medewerker.Voornaam %> <%= medewerker.Achternaam %></li>
    <% }); %>
  </ul>
</div>

<%- include('partials/foot.ejs') -%>